config = {
    "path": "<PATH of files>",
    "files": [
                "xlsx file 01",
                "xlsx file 02",
                "...",	
            ],
    "output_file": "sample.csv",
    "regions": ['Resion1', 'Resion2', 'Resion3'],
    "currency": ['EUR', 'EUR', 'KRW'],
    "sheet_name": "<SheetName in xlsx>",
    "filter_condition": {
        1: "String0",  # 2番目の列でフィルタリングするための文字列
        7: ["Strint1", "Stering2", "..."]  # 8番目の列でフィルタリングするための文字列
    },
    "columns": [0, 1, 2, 5, 6, 7, 8, 9, 10] + list(range(23, 36)),  # 列番号
    # headers: ヘッダーの名前をつける
    "headers": ["head1", "head2", "head3", "head4", "head5", "head6", "head7", "head8", "head9"] + \
               [f"2024-{i:02d}" for i in range(1, 13)] + ["total"],
    "manual_rates": {  # 手動設定の場合のレート
        'EUR': 130,
        'KRW': 0.1
    }
}
